body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
}
header{
    background-color: #f2d724b4;
    height: 200px;
}
h1{
    text-align: center;
    color: black;
    font-size: 30px
}
h2{
    color: black;
    text-align: center;
    font-size: 13px;
  
}
nav{
    margin-top: 60px;
}
 ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  
}

div li a{
    display:inline-block;
    padding: 20px ;   
   
}
div li  :hover{
   background-color: rgba(238, 130, 238, 0.568);
   border-radius: 4px;
    
}
