@media (max-width:600px){
    body{
        height: 100vh;
        width: 100%;
       
    }
    main img{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 370px;
        margin: 400px 50px;
    }

}
