*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(imagem/espaco.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
main img{
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
   
}


