
body {
  background-color: #222222;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  max-width: 1200px;
  margin: auto;
  padding: 15px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
}
#title {
    flex-direction: column;
    line-height: 10px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
a:hover{
    color: #840EC9;
    transition: 0.3s all;
}
li{
    display: inline-block;
    margin: 20px;
}
h1{
    font-weight: bold;
    font-size: 54px;
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2{
    font-size: 60px;
    line-height: 10px;
    font-weight: bold;
}
span{
    color: #840EC9;
}
p{
    line-height: 20px;
    max-width: 500px;
    font-weight: lighter;
}
 img{
    width: 600px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}
input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
button{
    margin-top: 20px;
    padding: 10px;
    height: 50px;
    width: 50%;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    background-color: #840EC9;
    color: white;
}
button:hover{
    cursor: pointer;
}