h1{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(173, 96, 18);
    color: rgb(214, 176, 137);
    height: 100px;
   padding-top: 150px;
   padding-left: 30px;
    
    
}
h2{
    color: rgb(60, 33, 88);
}
h3{
    color: rgb(60, 33, 88);
}
a {
    color: rgb(119, 77, 35);
    
}
footer{
    text-align: center;
    background-color: rgba(141, 97, 184, 0.808);
    color:rgb(60, 33, 88) ;
    margin-top: 30%;
    height: 30px;
  
}
