@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Coiny&family=Fascinate&family=Luckiest+Guy&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body{
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
}
main{
    background-color: white;
    width: 100%;
    height: 100vh;
   
   

}
header{
    background-color: #9c605dda;
    width: 100%;
    height: 300px;
    margin-top: 0;  
}
.esporte{
    font-family:"Fascinate" ;
    font-size: 20px;
    padding: 0 70px;
    color: #2A66E8;
}
header > h1{
    font-family:"Fascinate" ;
    text-align: center;
    font-size: 45px;
    color: white;
    margin-top: 0;
    padding-top: 100px;
}
nav{
   background-color: #623D3B;
   box-shadow: 2px 2px 10px;
   border-radius: 3px;
    
}
ul{
    list-style: none;
    margin-top: 100px;
     border: 2px solid black;
}
li{
    display: inline-block;
    margin-right: 30px;
    text-decoration: none;
}
a{
    font-family:"Fascinate" ;
    color: white;  
}
a:hover{
    background-color:  #e2a4a1da;
    outline: 5px solid black;
    border-radius: 2px;
}
.escritor{
    font-weight: bolder;
    text-indent: 20px;
}
main > aside{
    display: block;
      border: 2px solid black;
      margin-top: 30px;
}
article{
    border: 2px solid black;
}
h2{
     font-family:"Fascinate" ;
    color: #623D3B;
    text-decoration: underline;
    padding: 0 50px 0 ;
}
p{
    display: inline-block;
    text-indent: 20px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0;
}
footer > p {
    margin: 0;
}