@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Coiny&family=Fascinate&family=Luckiest+Guy&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #FFCC00;;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
   max-width: 1600px;
    padding: 10px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.title{
    margin: 10px;
  
}
ul{
    display: flex;
    flex-direction: row;
   list-style: none;
   margin-bottom: 20px;
   margin-right: 300px;
}
li{
    display: inline-block;
    margin: 30px;
}
a{
    color: black;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
}
a:hover{
    border: 1px solid black;
   border-radius: 20px;
   transition: 0.3s all;
}
main{
    display: flex;
    flex-direction: row;
    align-items: center;
}
main h1{
    line-height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 45px;
    margin: 20px;
}
p{
    width: 300px;
    margin: 35px 0;
    font-size: 18px;
    text-align: justify;
   
}
form{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
input{
    padding: 10px;
    margin: 15px 0;
    border-radius: 15px;
  
    max-width: 80%;
}
button{
    width: 50%;
    padding: 15px;
    font-size: 17px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: black;
    font-weight: bold;
}
button:active{
    background-color:violet;
    color: black;
}
article img{
    display: flex;
    margin: 40px 300px;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
   
}
