*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color:white ; 
   font-family: Arial, Helvetica, sans-serif;

}
header{
    background-color: white;
    height: 10px;
    width: 100%;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
li{
    margin-right: 150px;
    margin-top: 30px;
}
li a{
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    font-size: 17px;
}
a:hover{
    background-color: #5d60f054;
    border-radius: 15px;
}
main{
    background-color: #6365f2b2;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1510px;
    margin: 100px 200px;
    height: 700px;
    border-radius: 15px;
}
aside{
    margin: 0 20px;
    padding-bottom: 200px;
}
h1{
    margin: 20px;
    font-weight: bold;
    font-size: 40px;
}
p{
  width: 550px;
  font-size: 20px;
 
}
