@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Coiny&family=Fascinate&family=Luckiest+Guy&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Coiny&family=Fascinate&family=Luckiest+Guy&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Passion One' sans-serif;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    width: 1000px;
    height: 120px;
}
header h1{
    font-family: 'Passion One';
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: white;
}
article a:hover{
    text-decoration: underline;
    color: rgba(19, 239, 247, 0.603);

}
    


main{
    font-family: 'Sriracha';
    background-color: white;
    width: 1000px;
    height: 323vh;
}

div{
      border: 1px solid black;

}
.p1{
    margin: 80px 30px;
    font-size: 28px;
    width: 30%;
    line-height: 50px;
    font-weight: 300;
    
  
}
.p2 {
    background-image: url(imagem/background001.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 ;
    height: 50vh;
    width: 100%;
    
}
.p2 p{
    margin: 30px 30px;
    font-size: 28px;
    line-height: 50px;
    font-weight: 300;
    color: #fff;
    width: 290px;
    border: 1px solid transparent;
    box-shadow:  rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
   
}

   
.p3{
    margin: 80px 30px;
    font-size: 28px;
    width: 30%;
    line-height: 50px;
    font-weight: 300;
    border: none;
}
.p4{
    margin: 80px 30px;
    font-size: 28px;
    width: 30%;
    line-height: 50px;
    font-weight: 300;
    border: none;
}
.p5{
    margin: 80px 30px;
    font-size: 28px;
    width: 30%;
    line-height: 50px;
    font-weight: 300;
    border: 1px solid transparent;
    background-image: url(imagem/background002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    margin: 0;
    height: 500px;

}
.p5 p{
     margin: 30px 30px;
    font-size: 28px;
    line-height: 50px;
    font-weight: 300;
    color: #fff;
    width: 290px;
    border: 1px solid transparent;
    box-shadow:  rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}
.p6{
    margin: 80px 30px;
    font-size: 28px;
    width: 30%;
    line-height: 50px;
    font-weight: 300;
    border: none;
}
.p7{
    margin: 80px 30px;
    font-size: 28px;
    width: 30%;
    line-height: 50px;
    font-weight: 300;
    border: none;
}